<!DOCTYPE html>
<html ng-app="app_index">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .person {
            border: 1px gray solid;
            padding: 5px;
            margin-bottom: 5px;
        }

        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body ng-controller="ctrl_index">
<div class="person">
    <img ng-cloak class="ng-cloak" width="120px" height="160px" src="data:image/png;base64,{{person.id_image}}"/>

    <div>IP:{{person.ip}}</div>
    <div>姓名:{{person.name}}</div>
    <div>性别:{{person.gender}}</div>
    <div>时间:{{person.pass_time}}</div>
    <div>黑名单报警tag:{{person.blacklist_tag}}</div>
    <div>serial_number:{{person.serial_number}}</div>
</div>
<div class="person">
    <img ng-cloak class="ng-cloak" width="120px" height="160px" src="data:image/png;base64,{{person2.id_image}}"/>

    <div>IP:{{person2.ip}}</div>
    <div>姓名:{{person2.name}}</div>
    <div>性别:{{person2.gender}}</div>
    <div>时间:{{person2.pass_time}}</div>
    <div>黑名单报警tag:{{person2.blacklist_tag}}</div>
    <div>serial_number:{{person2.serial_number}}</div>
</div>
<div class="person">
    <img ng-cloak class="ng-cloak" width="120px" height="160px" src="data:image/png;base64,{{person3.id_image}}"/>

    <div>IP:{{person3.ip}}</div>
    <div>姓名:{{person3.name}}</div>
    <div>性别:{{person3.gender}}</div>
    <div>时间:{{person3.pass_time}}</div>
    <div>黑名单报警tag:{{person3.blacklist_tag}}</div>
    <div>serial_number:{{person3.serial_number}}</div>
</div>

</body>
</html>
<script src="/static/modules/jquery/jquery-1.11.3.min.js"></script>
<script src="/static/modules/angularjs/angular.min.js" type="text/javascript"></script>
<script src="/static/modules/angularjs/angular-animate.min.js" type="text/javascript"></script>
<script src="/static/modules/socketio/socket.io.min.js"></script>
<script>
    var SOCKET_NAMESPACE = '/notification_push';
    var MsgTpye = {
        HEADER_PERSON_PASS_INFO: "person_pass_info"
    };
    var module = angular.module('app_index', ['ngAnimate']);
    module.controller(
            'ctrl_index', function ($scope, $http) {


                // socket connect
                socket = io.connect('http://' + document.domain + ':' + location.port + SOCKET_NAMESPACE);
                socket.on('connect', function () {
                    console.log('connect');
                });
                socket.on('disconnect', function () {
                    console.log('disconnect');
                });

                // start record
                socket.on(MsgTpye.HEADER_PERSON_PASS_INFO, function (msg) {
                    var person = JSON.parse(msg.data);

                    if (person.ip && person.ip == 'localhost')
                        $scope.person2 = person.data;
                    else if (person.ip && person.ip == '10.0.1.50')
                        $scope.person3 = person.data;
                    else
                        $scope.person = person.data;
                    $scope.$apply();

                });

            }
    );
</script>